# ==========================================
# CONFIGURAÇÕES DA APLICAÇÃO (APP)
# ==========================================
# APP_ENV: 'dev' ou 'production' (Define exibição de erros)
APP_ENV=dev
# LOG_CHANNEL: Para onde enviar os logs (Ex: file, syslog, both)
LOG_CHANNEL=both
# CORS: Controle de acesso (use '*' para liberar tudo ou especifique domínios)
CORS=*
# Roteamento padrão quando acessam a raiz do sistema
DEFAULT_CONTROLLER=Home
DEFAULT_METHOD=index

# ==========================================
# CONFIGURAÇÕES DE BANCO DE DADOS (DB)
# ==========================================
# DB_DRIVER: 'pgsql' ou 'mysql'
DB_DRIVER=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=SEU_BANCO
DB_USER=postgres
DB_PASS=

# ==========================================
# CONFIGURAÇÕES DE SEGURANÇA (JWT)
# ==========================================
# JWT_SECRET: Chave criptográfica única de validação (Gere e cole aqui)
JWT_SECRET=supersecretkey
# JWT_EXPIRE: Duração do Token padrão em segundos (Ex: 3600 = 1 hora)
JWT_EXPIRE=3600
# JWT_REFRESH_EXPIRE: Duração de vida estendida do Refresh Token (em seg)
JWT_REFRESH_EXPIRE=604800